<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.reikoui.klma.dao.WordMapper">
    
    <!--<resultMap id="wordsRecordResultMap" type="com.reikoui.klma.domain.WordsRecord">-->
        <!--<result column="" property=""-->
        <!--<collection property="words" ofType="com.reikoui.klma.domain.Word">-->

        <!--</collection>-->
    <!--</resultMap>-->
    
    <insert id="insertWordsList" parameterType="java.util.List">
        <selectKey resultType="java.lang.Integer" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert ignore into word
        (word, chinese_meaning, example_sentence, person_lexicon_id)
        values
        <foreach collection="list" item="word" index="index" separator=",">
            (
            #{word.word},
            #{word.chineseMeaning},
            #{word.exampleSentence},
            #{word.personLexiconId}
            )
        </foreach>
    </insert>

    <update id="updateWordsListByWord" parameterType="com.reikoui.klma.domain.WordsRecord">
        UPDATE word
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="coefficient =case" suffix="end,">
                <foreach collection="words" item="item" index="index">
                    WHEN word = #{item.word} THEN #{item.coefficient}
                </foreach>
            </trim>
            <trim prefix="last_coefficient =case" suffix="end,">
                <foreach collection="words" item="item" index="index">
                    WHEN word = #{item.word} THEN #{item.lastCoefficient}
                </foreach>
            </trim>
            <trim prefix="last_date =case" suffix="end,">
                <foreach collection="words" item="item" index="index">
                    WHEN word = #{item.word} THEN #{item.lastDate}
                </foreach>
            </trim>
        </trim>
        where person_lexicon_id = #{personLexiconId}
    </update>


</mapper>
